.signup{
    width: 100%;
    height: 100vh;
    background: skyblue;
}

.sign-card{
    width: 400px;
    height: 300px;
    border: 1px solid silver;
    background: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    box-sizing: border-box;
    padding: 20px 20px;
}

.sign-input{
    width: 85%;
    padding: 12px 20px;
    border: none;
    background: rgba(128, 128, 128, 0.651);
    border-radius: 12px;
    margin-top: 12px;
    outline: none;
}
.sign-input:focus{
    border: 1px solid rgb(48, 188, 243);
}
button{
    padding: 12px 20px;
    border-radius: 20px;
    background: rgb(105, 209, 250);
    margin-top: 20px;
    width: 96%;
    border: none;
    cursor: pointer;
}
button:hover{
    background: rgb(4, 175, 243);
}
form{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}